<%- include("header") -%> 
<% if(serverError.length>0){ %>
    <div class="alert alert-danger"><%=serverError%></div>
<% } %>


<section id="title">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-lg-6">
          <h1 class="big_heading">Banking management system</h1>

          <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=740&t=st=1669314593~exp=1669315193~hmac=510e02a5a62f5a9c3fa0088cf4fae2b86256510b14204ff97e0e6dea673ebe0f" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Admin</h5>
                  <p class="card-text">For the Employees of the Bank.</p>
                  <a href="/adminSignin" class="download-button btn btn-dark btn-lg">Login</a>
                </div>
              </div>
            <div class="card" style="width: 18rem;">
                
                <img class="card-img-top" src="https://img.freepik.com/free-vector/happy-man-online-dating-via-laptop_74855-7495.jpg?w=740&t=st=1669314521~exp=1669315121~hmac=d6cbe798eab88a9937b0be1268e34ebee03179db95632ff2f018a1fe3fcc09d1" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">User</h5>
                  <p class="card-text">Click login to start your account.</p>
                  <a href="/userSignin" class="download-button btn btn-dark btn-lg">Login</a>
                </div>
              </div>
            
        
      </div>
    </div>
  </section>
  
  <div class="row">
  
    <h1 class="aboutHeading about">Project Members</h1>
    <h4>Shreya Chatterjee</h4>
    <h4>Rik Saha</h4>
    <h4>Riteek Rakesh</h4>
    <h4>Sharanya Pal</h4>
    
  </div>
</div>

